/* .main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 5px 25px;
}

.nav-item {
  margin: 0px 3px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover {
  background-color: rgb(226, 226, 226);
}

.navbar form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
}

.navbar form .search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
}

.nav-links {
  padding: 7px 13px;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: #e7f8fe;
  cursor: pointer;
}

.nav-links:hover {
  background-color: #d3e4eb;
} */

.main-nav1 {
  /* display: flex;
  width: 100%;
  min-width: 85%;
  background-color: #d3d6d6;
  border-top: solid 3px #ef8236;
  position: fixed;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 15px 30px;
  z-index: 6;
  height: 50px; */

  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  /* border-top: solid 3px #ef823f; */
  border-top: solid 3px #bab9b5;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar1 {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item1 {
  margin: 0px 20px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}

.nav-btn1 {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item1:hover {
  background-color: rgb(226, 226, 226);
}

.nav-links1 {
  padding: 7px 13px;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: #e7f8fe;
  cursor: pointer;
}

.logo {
  /* font-size: 35px;
  font-weight: 800;
  cursor: pointer; */
  /* padding: 5px 25px; */
}

.main-nav1 ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}

.main-nav1 ul li {
  margin: 0 20px;
}

.main-nav1 ul li a {
  /* font-size: 20px; */
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
  /* padding: 5px 10px; */
}

.main-nav1 .search-box {
  display: flex;
  flex-grow: 1;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 2px;
}

.main-nav1 .search-box input {
  border: none;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  width: 350px;
  font-size: 20px;
}

.main-nav1 .search-box img {
  left: 25px;
  top: 8px;
  background-color: #fff;
}

.main-nav1 .bar {
  position: relative;
  margin: auto;
  display: none;
}

.main-nav1 .bar img {
  position: absolute;
}

input[type="checkbox"] {
  -webkit-transition-property: none;
  display: none;
}

@media screen and (max-width: 936px) {
  .main-nav1 {
    display: block;
    padding: 0;
  }

  .navbar1 {
    display: block;
  }

  .main-nav1 .icon {
    display: inline-block;
    padding: 15px 30px;
  }

  .main-nav1 .search-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
    border: 1px solid rgb(150, 150, 150);
  }

  .main-nav1 .search-box input {
    width: 90%;
  }

  .main-nav1 ul {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 0;
    visibility: hidden;
    transform: 1s;
  }

  .main-nav1 ul li {
    text-align: center;
  }

  .main-nav1 ul li a {
    color: #000;
    /* font-size: 28px;
    padding: 25px; */
    display: block;
  }

  .main-nav1 .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }

  .main-nav1 .bar #times {
    display: none;
  }

  #check:checked ~ .main-nav1 .bar #times {
    display: block;
  }

  #check:checked ~ .main-nav1 .bar #bars {
    display: none;
  }

  #check:checked ~ .main-nav1 ul {
    visibility: visible;
    height: 200px;
  }
}
